.NavBar {
    background-color: #ffffff;
    border: 1px solid #F5F5F5;
    font-family: 'Athiti', sans-serif;
  }
  
  .NavLink {
    margin: 0 0 0 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .Active i {
    color: #ec5656;
  }

  @media (max-width: 768px) {
    .Logo{
      max-height: 40px;

    }
    .NavLink {
      flex-direction:row;
    }
    }

