.NavBar {
    background-color: #ffffff;
    border: 1px solid #F5F5F5;
    font-family: 'Athiti', sans-serif;
  }
  
  .NavLink {
    padding: 0 0 0 30px;
    text-align: center;
  }
  
  .Active i {
    color: #ec5656;
  }

  @media (max-width: 500px) {
    .Logo{
      max-height: 40px;

    }
    }

